.App{
  background-color: black;
  color: #dcd9cd;
}

.logo{
  height: 150px;
  width: 150px;
  margin: 15px;  
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 150px;
}

.banner{
  display: flex;
  flex-direction: row;
}

.myInfo{
  height: 50px;
  width: 80px;
  margin-top: 30px;
  position: absolute;
  left: 0;
  margin-left: 30px;
  border: 0;
  border-radius: 30px;
  background-color: #1ed760;
  color: black;
  font-size: 15px;
}

a{
  text-decoration: none;
  color: black;
}

.login-logout{
  height: 50px;
  width: 80px;
  margin-top: 30px;
  position: absolute;
  right: 0;
  margin-right: 30px;
  border: 0;
  border-radius: 30px;
  background-color: #1ed760;
  color: black;
  font-size: 15px;
}

.spotify_guess {
  font-size: 35px;
  line-height: 53px;
  margin: 0;
  font-weight: 550;
  text-align: center;
  color:  #1ed760;
  margin-top: -25px;
  margin-bottom: 100px;
}

.about{
  height: 50px;
  width: 180px;
  margin-bottom: 30px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  border: 0;
  border-radius: 30px;
  background-color: #1ed760;
  color: black;
  font-size: 20px;
  margin-bottom: 500px;
}

.about_div{
  padding-bottom: 1px;
}