.App{
  background-color: black;
  color: #dcd9cd;
}

.logo{
  height: 75px;
  width: 75px;
  margin: 15px;  
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 110px;
}

.banner{
  display: flex;
  flex-direction: row;
}

.home{
  height: 50px;
  width: 80px;
  margin-top: 30px;
  position: absolute;
  left: 0;
  margin-left: 30px;
  border: 0;
  border-radius: 30px;
  background-color: #1ed760;
  color: black;
  font-size: 15px;
}

.question{ 

  margin-top: -12px;
  display: flex;
  flex-direction: column;
  text-align: center;
  
  p{
    font-size: 30px;
    width: 260px;
    margin: auto;
  }

  button{
    margin: 7px;
  }
}

.button1{
  height: 50px;
  width: 250px;
  border-radius: 10px;
  border: none;
  font-size: 16px;
  color: black;
}
.button1green{
  height: 50px;
  width: 250px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  background-color: green;
  color: black;
}
.button2{
  height: 50px;
  width: 250px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  color: black;
}
.button2green{
  height: 50px;
  width: 250px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  background-color: green;
  color: black;
}
.button3{
  height: 50px;
  width: 250px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  color: black;
}
.button3green{
  height: 50px;
  width: 250px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  background-color: green;
  color: black;
}
.buttonRed{
  height: 50px;
  width: 250px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  background-color: red;
  color: black;
}

.buttons_column{
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.questionDisplay{
  display: flex;
  flex-direction: column;
}



a{
  text-decoration: none;
  color: black;
}

.login-logout{
  height: 50px;
  width: 80px;
  margin-top: 30px;
  position: absolute;
  right: 0;
  margin-right: 30px;
  border: 0;
  border-radius: 30px;
  background-color: #1ed760;
  color: black;
  font-size: 15px;
}

.spotify_guess {
  font-size: 25px;
  line-height: 53px;
  margin-top: -20px;
  font-weight: 550;
  text-align: center;
  color:  #1ed760;
}

.buttons_column{

  button{
    font-size: 20px;
  }
}

h5{
  font-size: 27px;
  font-weight: 400;
  width: 90%;
  margin-left: 5%;
  text-align: center;
  margin-bottom: 0px;
  text-decoration: underline;
}

.playlists{

  display: flex;
  flex-direction: row;
  background-color: #1f1f1f;
  color: white;
  border: none;
  border-radius: 10px;
  justify-content: center;
  width: 350px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;

  h3{
    width: 200px;
    height: 70px;
    background-color: #1f1f1f;
    font-size: 23px;
    font-weight: 100;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 0px;
  }

  img{      
      justify-content: center;
      height: 70px;
      width: 70px;
      margin-top: 23px;
  }
    
}

.playlists:hover{
  cursor: pointer;
}

h6{
  width: 100%;
  text-align: center;
  font-size: 30px;
  margin-top: 30px;
}

  .returnToPlaylists{
    display: flex;    
    flex-direction: column;
    width: 100vw;
    align-items: center;
    margin-top: -30px;

    button{
      height: 50px;
      width: 250px;
      border-radius: 10px;
      background-color: gray;
      border: none;
      font-size: 24px;
      font-weight: 400;
      color: black;
    }

  }
